.home_container {
    height: 100vh;
    width: 100vw;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: end;



}
.left_container{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    margin-left: 20px;

    /* h1{
        animation: typing 100s steps(40, end), blink-caret 0.5s step-end infinite;
    } */
}

.home_image {
    height: 100%;
    width: 90%;
}



@media screen and (min-width: 768px) and (max-width: 1023px){
   

    .left_container{
        h1{
font-size: 30px;        }        
    }
}


@media screen and (min-width: 600px) and (max-width: 768px) {
    

    .left_container{
        h1{
font-size: 20px;        }        
    }

    .home_image {
        height: 80%;
        width: 60%;
    }
    
}

@media screen and (max-width: 600px){
    .left_container{
        /* background-color: red; */
        height: 50%;
        h1{
font-size: 14px;        }        
    }

    .home_image {
        height: 40%;
        width: 70%;
    }
    
}